#jinja2: trim_blocks:False
{{ ansible_managed }}
eap_server=0
ieee8021x=1
driver=wired
dynamic_vlan=1
interfaces={% if 'dot1x_ports' in devices[inventory_hostname] %}{% for dot1x_port in devices[inventory_hostname].dot1x_ports %}swp{{ dot1x_port }},{% endfor -%}{% endif %}
voice_interfaces={% if 'voice_ports' in devices[inventory_hostname] %}{% for voice_port in devices[inventory_hostname].voice_ports %}swp{{ voice_port }}:{{ voice_vlan }},{% endfor -%}{% endif %}
mab_interfaces={% if 'dot1x_ports' in devices[inventory_hostname] %}{% for dot1x_port in devices[inventory_hostname].dot1x_ports %}swp{{ dot1x_port }},{% endfor -%}{% endif %}
dynamic_acl_interfaces=
default_dynamic_acl=default_preauth_dacl.rules
parking_vlan_interfaces=
parking_vlan_id=
mab_activation_delay=3
max_num_sta=4
eap_reauth_period=0
eap_send_identity=1
ctrl_interface=/var/run/hostapd
nas_identifier=localhost
{% for radius_server in radius_dot1x.servers.ipv4|default([]) %}auth_server_addr={{ radius_server }}%mgmt{% endfor %}
auth_server_port=1812
auth_server_shared_secret=cumulus
{% for radius_server in radius_dot1x.servers.ipv4|default([]) %}acct_server_addr={{ radius_server }}%mgmt{% endfor %}
acct_server_port=1813
acct_server_shared_secret=cumulus
radius_das_port=3799
{% for radius_server in radius_dot1x.servers.ipv4|default([]) %}radius_das_client={{ radius_server }}%mgmt cumulus{% endfor %}
radius_das_time_window=300
radius_das_require_event_timestamp=0
radius_das_require_message_authenticator=0