# Disable CDP by default for Cisco VoIP Phones
DAEMON_ARGS="-M 4"
{% if 'voice_ports' in devices[inventory_hostname] %}{% for voice_port in devices[inventory_hostname].voice_ports %}
configure ports swp{{ voice_port }} med policy application voice tagged vlan 200 priority voice dscp 46 
{% endfor -%}{% endif %}


# Cisco IP Phones TLV change
# Cisco IP phones may revert to a different VLAN after initial negotiation. 
# One of our enterprise customers found that according to a Cisco tech note 
# on LLDP-MED and CDP, CDP should be disabled on non-Cisco switches connecting 
# to Cisco phones.

# To eliminate this behavior, make the following adjustment to the lldp daemon:

# `sudo vi /etc/default/lldpd`

# **Change this default:**
# # Enable CDP by default
# DAEMON_ARGS="-c -M 4"

# **To this setting:**
# # Enable CDP by default
# DAEMON_ARGS="-M 4"