{{ ansible_managed }}

authtoken: {{ ngrok_authtoken }}
region: eu

tunnels:
    ssh:
        proto: tcp
        addr: localhost:22
    grafana:
        proto: http
        addr: http://localhost:3000
        bind_tls: false
        subdomain: grafana.cumulus
    awx:
        proto: http
        addr: http://192.168.200.251
        bind_tls: true
        subdomain: config.cumulus
    netq:
        proto: http
        addr: http://192.168.200.250
        bind_tls: true
        subdomain: netq.cumulus

 
 