{{ ansible_managed }}

{% include './features/loopback.j2' %}
{% include './features/mgmt.j2' %}
{% include './features/vrfs.j2' %}
{% include './features/clagbonds_leaf_to_closet.j2' %}
{% include './features/trunk.j2' %}
{% include './features/vnis.j2' %}
{% include './features/fabric.j2' %}
{% include './features/access_ports.j2' %}
{% include './features/dot1x_ports.j2' %}
{% include './features/mlag.j2' %}
{% include './features/bridge.j2' %}
{% include './features/svis.j2' %}
