{{ ansible_managed }}

{% include './features/loopback.j2' %} 
{% include './features/mgmt.j2' %} 
{% include './features/clagbonds_closet_to_leaf.j2' %} 
{% include './features/access_ports.j2' %} 
{% include './features/dot1x_ports.j2' %} 
{% include './features/bridge.j2' %} 
