{{ ansible_managed }}
# The loopback network interface
auto lo
iface lo inet loopback

# The OOB network interface
auto eth0
iface eth0 inet dhcp

# The data plane network interfaces
auto eth1
iface eth1 inet dhcp
  wpa-driver wired
  wpa-conf /etc/wpa_supplicant.conf
  mtu 9000
  # Required for Vagrant
  post-up ip link set promisc on dev eth1
  post-up ip route add {{ devices[inventory_hostname].route.dest }} via {{ devices[inventory_hostname].route.nexthop }}
