ctrl_interface=/var/run/wpa_supplicant
ctrl_interface_group=0
eapol_version=2
ap_scan=0
network={
        key_mgmt=IEEE8021X
        eap=PEAP
        identity="{{inventory_hostname}}"
        password="{{ generic_password }}"
        eapol_flags=0
}
