# DHCP Relay
{% for dhcp_relay_server in dhcp_relay.servers.ipv4|default([]) %} 
SERVERS="{{ dhcp_relay_server }}" 
{% endfor %} 
INTF_CMD="{% for svi in devices[inventory_hostname].svis %}-i vlan{{ svi }} {% endfor -%}" 
OPTIONS="--loglevel-debug" 
