{{ "Access Interfaces" | comment }} 

{% if 'access_vlans' in devices[inventory_hostname] %} 
{% for access_vlan_id in devices[inventory_hostname].access_vlans %} 
{% for access_port in devices[inventory_hostname].access_vlans[access_vlan_id] %} 
auto swp{{ access_port }} 
iface swp{{ access_port }} 
    alias access port swp{{ access_port }} 
    bridge-access {{ access_vlan_id }} 
    mstpctl-bpduguard yes 
    mstpctl-portadminedge yes 
 
{% endfor %} 
{% endfor %} 
{% endif %} 
