{{ "Bridge" | comment }} 

auto bridge
iface bridge
    bridge-ports {% if inventory_hostname not in groups.closet %}{% for vlan in vlans %}vni300{{ vlan }} {% endfor %}{% for vrf in vrfs %}L3VNI_{{ vrf }} {% endfor %}{% if 'clag' in racks[devices[inventory_hostname].rack] %}{% for bond in racks[devices[inventory_hostname].rack].clag.bonds %}bond{{ bond.interface[3:] }} {% endfor %}{% endif %}{% if 'clag' in racks[devices[inventory_hostname].rack] %}peerlink {% endif %}{% endif %}{% if 'access_vlans' in devices[inventory_hostname] %}{% for access_vlan_id in devices[inventory_hostname].access_vlans %}{% for access_port in devices[inventory_hostname].access_vlans[access_vlan_id] %}swp{{ access_port }} {% endfor %}{% endfor %}{% endif %}{% if 'trunk_ports' in devices[inventory_hostname] %}{% for trunk_port_if in devices[inventory_hostname].trunk_ports %}{{ trunk_port_if }} {% endfor %}{% endif %}{% if 'dot1x_ports' in devices[inventory_hostname] %}{% for dot1x_port in devices[inventory_hostname].dot1x_ports %}swp{{ dot1x_port }} {% endfor %}{% endif %}{% if inventory_hostname in groups.closet %}uplink {% endif %} 
    bridge-vids {% for vlan in vlans %}{{ vlan }} {% endfor %}{% if inventory_hostname not in groups.closet %}{% for vrf in vrfs %}{{ vrfs[vrf] }} {% endfor %}{% endif %} 
    bridge-vlan-aware yes 
 
 