{{ "Bonds to Leafs" | comment }} 

{% if inventory_hostname in groups.closet %}
{% for trunk_interface in trunk_uplinks %} 
auto {{ trunk_interface }}
iface {{ trunk_interface }} inet manual
  # Required for Vagrant
  post-up ip link set promisc on dev {{ trunk_interface }}

{% endfor %}

auto uplink
iface uplink inet static
  alias vlan trunk port to leaf switch
  bond-slaves {% for trunk_interface in trunk_uplinks %}{{ trunk_interface }} {% endfor %} 
  bond-mode 802.3ad
  bond-miimon 100
  bond-lacp-rate 1
  bond-min-links 1
  bond-xmit-hash-policy layer3+4

{% endif %}