{{ "dot1x Interfaces" | comment }} 
 
{% if 'dot1x_ports' in devices[inventory_hostname] %} 
{% for dot1x_port in devices[inventory_hostname].dot1x_ports %} 
auto swp{{ dot1x_port }} 
iface swp{{ dot1x_port }} 
    alias dot1x port swp{{ dot1x_port }} 
    {% if 'voice_ports' in devices[inventory_hostname] %}bridge-learning off 
    bridge-pvid 30 
    bridge-vids {{ voice_vlan }}{% endif %} 
    mstpctl-bpduguard yes 
    mstpctl-portadminedge yes 
 
{% endfor %} 
{% endif %} 
