{{ "Loopback" | comment }} 

auto lo
iface lo inet loopback
    address {{ devices[inventory_hostname].loopback }}
{% if devices[inventory_hostname].rack is defined %}{% if 'clag' in racks[devices[inventory_hostname].rack] %}
    clagd-vxlan-anycast-ip {{ racks[devices[inventory_hostname].rack].clag.loopback }}
{% endif %}{% endif %}
{% if inventory_hostname not in groups.closet %}    vxlan-local-tunnelip {{ devices[inventory_hostname].loopback|replace("/32", "")}}{% endif %} 
 
