{{ "Trunk Ports" | comment }} 

{% if 'trunk_ports' in devices[inventory_hostname] %}
{% for trunk_port_if in devices[inventory_hostname].trunk_ports %}
auto {{ trunk_port_if }}
iface {{ trunk_port_if }} 
    mstpctl-portautoedge yes

{% endfor %}
{% endif %}
