{{ "L2VNIs" | comment }} 

{% for vlan in vlans %}
auto vni300{{ vlan }}
iface vni300{{ vlan }}
    bridge-access {{ vlan }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id 300{{ vlan }}

{% endfor %}

{{ "L3VNIs" | comment }} 

{% for vrf in vrfs %}
auto L3VNI_{{ vrf }}
iface L3VNI_{{ vrf }}
    bridge-access {{ vrfs[vrf] }}
    bridge-arp-nd-suppress on
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id 300{{ vrfs[vrf] }}

auto vlan{{ vrfs[vrf] }}
iface vlan{{ vrfs[vrf] }}
    hwaddress 44:38:39:BE:EF:{{ '%02d' % devices[inventory_hostname].rack }}
    vlan-id {{ vrfs[vrf] }}
    vlan-raw-device bridge
    vrf {{ vrf }}

{% endfor %}
